body {
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

canvas {
    image-rendering: pixelated;
    border: 3px solid white;
}
